div.container {
	width:980px;
	margin:0 auto;	
}

div.slider {
	width:850px;
	height:438px;
	overflow:hidden;
	position:relative;	
}

div.slider div.slides {
	width:3000px;
	height:inherit;	
}

div.slider div.slides > div {
	float:left;
	height:inherit;
	background-repeat:no-repeat;
	background-position:left top;	
}